<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spell Checker</title>

    <link rel="stylesheet" href="css/app.css">
    <!--Angular-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.min.js" integrity="sha256-tEs9bhzEBF4Z6jRNx8l0bMA2YrVN7NpR31vs8zAoVWo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.2/angular-resource.min.js" integrity="sha256-rMoAyLrfjgTabZoLEQCJpv+gHiXikkk6+vPdLpcdp2M=" crossorigin="anonymous"></script>    <!--UI Bootstrap Requirements-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--UI Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js" integrity="sha256-tyfWW2LtJQNI+l3F0h6xDV/ij6Mfn8lwSKHWOsmEgXM=" crossorigin="anonymous"></script>
</head>
<body id="spell" ng-app="myApp" ng-controller="AppController">
<div class="wrapper">
    <div class="navbar-fixed-top">
        <h1>Spell Checker</h1>
    </div>
    <div class="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" ng-submit="check(query)">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="query">
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" ng-disabled="!query" title="Search">Search</button>
                    </span>
                    </div>
                </form>
                <table class="table table-hover" ng-hide="!results">
                    <thead>
                    <tr>
                        <th>Result</th>
                        <th>Similarity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="result in results">
                        <td>{{result.result}}</td>
                        <td>{{result.score}}</td>
                    </tr>
                    <tr ng-show="results && results.length==0">
                        <td colspan="2">Sorry, no results found.</td>
                    </tr>
                    </tbody>
                </table>
                <div class="page-footer">
                    <h3>REST Api Request</h3>
                    <blockquote>http://spell.fiehnlab.ucdavis.edu/rest/check/arabidopsis</blockquote>

                    <h3>Result</h3>
                    <pre>
[
    {"query":"arabidopsis","result":"Arabidopsis","score":1.0},
    {"query":"arabidopsis","result":"arabdopsis","score":0.9090909090909091},
    {"query":"arabidopsis","result":"parabiosis","score":0.9090909090909091},
    {"query":"arabidopsis","result":"arabidopside","score":0.8333333333333334},
    {"query":"arabidopsis","result":"arabinoside","score":0.8181818181818182},
    {"query":"arabidopsis","result":"arabinosido","score":0.8181818181818182}
]
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
</body>
</html>