@media (max-width: 1535px) and (min-width: 768px) {
    #spell .page-wrapper {
        width: 80%;
    }
}

@media (max-width: 2047px) and (min-width: 1536px) {
    #spell .page-wrapper {
        width: 60%;
    }
}

@media (min-width: 2048px) {
    #spell .page-wrapper {
        width: 50%;
    }
}

body#spell {
    background-color: #F9F4E5;
}

#spell .navbar-fixed-top{
    padding: 10px 30px;
    background-color: #1A3E68;
    color: #FFCD00;
    border-bottom: 5px solid #DFC166;
}

#spell .page-wrapper {
    padding: 115px 20px 10px;
    background-color: #FFFFFF;
    border-left: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px;
    margin: 0 auto;
}